*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.slider-container{
    position: absolute;
    width: 100%;
    height: 100%;
}